{{#each artists.items}}
<div class="container">
    <div class="artist-container">
        <h2>{{name}}</h2>
        <img src={{images.2.url}} alt="">
        <a href="/albums/{{id}}">View albums</a>
    </div>
</div>
{{/each}}